.cards-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  align-items: stretch;
}

mat-card {
  width: 310px;
  height: 700px;
  margin:15px;
}

.card-tag-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: center;
}

.mat-card-image {
}

.mat-chip:not(.mat-basic-chip) {
  border-radius: 0;
  padding:7px 7px;
  margin: 1px 3px;
}
