<div class="app-container" [class.app-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="app-toolbar mat-elevation-z4">
    <button mat-icon-button (click)="snav.toggle()" *ngIf="mobileQuery.matches">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-app-name">Responsive App</h1>
    <mat-form-field appearance="outline">
      <input matInput placeholder="Card">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </mat-toolbar>

  <mat-sidenav-container class="app-sidenav-container"  [style.marginTop.px]="mobileQuery.matches ? 56 : 0">>
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-list role="list">
        <mat-list-item role="listitem">Card</mat-list-item>
      </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
